/*ESTILOS */
.icono{
    size: 30px;
}

#mayitasText{
  text-color: black;
}

/*.img {
    width: 120;
    height: 500;
  }
  .card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }*/